
<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Student Number</th>
      <th>Name</th>
      <th>Entry</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.order('student_number').each do |user| %>
      <tr>
        <td><%= user.student_number %></td>
        <td><%= user.name %></td>
        <td><%= user.entry %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
